*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    /* nav-style */
nav{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-icon{
    width: 139px;
    height: 60px;
}
.nav-content ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-content ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.nav-button button{
    width: 164px;
    height: 44px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.nav-button button:hover{
    background-color: #023c1a;
    transform: scale(1.05);
}
    /* nav-style */

    /* hero-section style */

.hero-section{
    width: 100%;
    height: auto;
    padding: 155px 0px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-section .hero-container{
    width: 100%;
    margin: 0px auto;
    /* align-items: center; */
}
.hero-section .hero-container .hero-header{
    width: 770px;
    margin: 0px auto;
    text-align: center;
    font-size: 72px;
    font-weight: 700px;
    color: white;
    /* align-items: center; */
}
#green{
    color: rgba(48, 184, 104, 1);
    margin-top: 0px;
    margin-bottom: 16px;
}
.hero-section .hero-container .hero-paragraph{
    margin: 0px auto;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400px;
    color: white;
    margin-bottom: 32px;
    /* align-items: center; */
}
.hero-section .hero-container .hero-button{
    text-align: center;
    
}
.hero-section .hero-container .hero-button button{
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 16px;
}
.hero-section .hero-container .hero-button button:hover{
    background-color: #023c1a;
    transform: scale(1.05);
}
#white{
    width: 251px;
    height: 52px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 16px;
}
.hero-section .hero-container .hero-tab{
    width: 229px;
    margin: 16px auto;
    text-align: center;
    background-color: white;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color:rgba(48, 184, 104, 1)
}
    /* hero-section style */

    /* note section */
.note{
    background-color: rgb(235, 236, 236);
}
.note .note-content{
    width: 1360px;
    margin: 0px auto;
    padding: 40px;
    text-align: center;
}
.note .note-content h2{
    font-size: 48px;
    font-weight: 700px;
    margin-bottom: 16px;
}
.note .note-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
    /* note section */

    /* card-section */
.cards{
    display: flex;
    text-align: center;
    background-color: rgb(235, 236, 236);
}
.cards .card-container{
    max-width: 1360px;
    width: 80%;
    height: 220px;
    /* background-color: rgb(229, 178, 116); */
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.cards .card-container .card{
    width: 332px;
    height: 250px;
    /* border: 3px solid red; */
    align-items: center;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 24px;
}
.cards .card-container .card .card-content{
    width: 274px;
    margin: 50px auto;
}
.cards .card-container .card .card-content .card-image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #F95555;
    margin: 16px auto;
    padding: 13px;
}
.cards .card-container .card .card-content h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.cards .card-container .card .card-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
    /* card-section */

    /* solution-section */
.solution-section .solution-container{
    max-width: 1360px;
    width: 80%;
    margin: 120px auto;
    display: flex;
    /* background-color: aqua; */
}
.solution-section .solution-container .solution-image{
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    /* background-color: #F95555; */
}
.solution-section .solution-container .solution-content{
    padding: 102px 60px;
}
.solution-section .solution-container .solution-content h6{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.solution-section .solution-container .solution-content h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.solution-section .solution-container .solution-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}
.solution-section .solution-container .solution-content .list-points{
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 16px;
}
.solution-section .solution-container .solution-content .list-points p{
    align-items: center;
    height: 20px;
    margin-bottom: 0px;
    margin-left: 6px;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
    /* solution-section */

    /* get access section */
.get-access-section .get-access-container{
    max-width: 1360px;
    width: 80%;
    margin: 0px auto;
    padding: 80px;
    background-color: rgb(235, 236, 236);
    text-align: center;
}
.get-access-section .get-access-container h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.get-access-section .get-access-container p{
    font-size: 16px;
    font-weight: 400;
    color : #627382;
    margin-bottom: 24px;
}
.get-access-section .get-access-container button{
    width: 194px;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #30B868;
    border: none;
    margin-bottom: 16px;
}
.get-access-section .get-access-container button:hover{
    background-color: #023c1a;
    transform: scale(1.05);
}
    /* get access section */

    /* footer-section */
.footer-section{
    background-color: rgba(0, 25, 49, 1);
    margin-top: 120px;
    padding-top: 120px;
    /* margin-bottom: 30px; */
}
.footer-section .footer-container{
    max-width: 1360px;;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.footer-section .footer-container .social-link p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    color: white;
}
.footer-section .footer-container .social-link .social-icons img{
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-bottom: 80px;
}
.footer-section .footer-caption{
    max-width: 1360px;;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.footer-section .footer-caption p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    margin-top: 30px;
    color: white;
}
    /* footer-section */
